<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{student.list.page.title}">Listado de Alumnos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body>

    <body>
        <div class="language-selector">
            <a th:href="@{/web/productos(lang=es)}">🇪🇸</a> |
            <a th:href="@{/web/productos(lang=en)}">🇬🇧</a> |
            <a th:href="@{/web/productos(lang=ar)}">🇲🇦</a>
        </div>

        <hr>
        <h1 th:text="#{student.list.title}">LISTADO DE ALUMNOS</h1>

        <div class="table-container">
            <a th:href="@{/web/alumnos/nuevo}" th:text="#{generic.link.create}">Crear Nuevo</a>

            <a th:href="@{/web/alumnos/pdf}">
                <img th:src="@{/images/archivo-pdf.png}" th:alt="#{generic.link.export.pdf}"
                    th:title="#{generic.link.export.pdf}" width="50">
            </a>

            <table id="tablaAlumnos">
                <thead>
                    <tr>
                        <th th:text="#{student.table.header.id}">ID</th>
                        <th th:text="#{student.table.header.name}">Nombre</th>
                        <th th:text="#{student.table.header.lastname}">Apellidos</th>
                        <th th:text="#{student.table.header.age}">Edad</th>
                    </tr>
                </thead>
                <tbody id="cuerpoTabla">
                    <tr th:each="a : ${alumnos}">
                        <td th:text="${a.id}">1</td>
                        <td th:text="${a.nombre}">Alumno Ejemplo</td>
                        <td th:text="${a.apellido}">Apellido Ejemplo</td>
                        <td th:text="${a.edad}">18</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>