<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{student.confirmation.page.title}">Alumno Creado</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>
<body>

    <!-- Mensaje de éxito -->
    <h1 th:text="#{feedback.success.created(#{student.name.singular})}">
        El alumno se ha creado correctamente
    </h1>
    
    <div class="table-container">
        <!-- Enlace al listado de alumnos -->
        <a th:href="@{/web/alumnos}" th:text="#{generic.link.view-list}">Ver Listado</a>
    </div>

</body>
</html>